.header {
    padding: 15px;
    background-color: #cccc;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 #bdbbbd;
    position: fixed;
    top: 0;
    width: 100%;
}

.brand h2 {
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .header {
        justify-content: center;
    }
}